$indigo: #6610f2;
$purple: #6c5ce7;
$pink: #e84393;
$red: #d63031;
$yellow: #FED330;
$teal: #00cec9;
$cyan: #17a2b8;
$dark: #2d3436;

$orange: #f65a3f;
$blue: #337ab7;
$green: #5cb85c;

$theme-colors: (
    "orange": $orange,
);