@import '_variables_colors';

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-size-base: .9rem;
@import "_bootstrap";
@import "_navbar";

.hero {
    background-color: $primary;

    .title {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding-top: 30px;
        color: #fff;
        padding-bottom: 20px;

        h1 {
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
        }

        .meta {
            color: #fff;
            font-size: 12px;
            letter-spacing: .5px;
            text-transform: uppercase;
        }
    }
}

article, section {

    p {
        color: #222;
        font-size: 19px;
        line-height: 29px;
        margin: 0 0 10px;
        margin-bottom: 23px;
    }

    .content {
        max-width: 720px;
        margin: 3em auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .content strong {
        font-weight: 400;
    }

    .content a {
        color: #222;
        text-decoration: underline;
    }

    .content a:hover, .content a:focus {
        color: #F65A3F;
        text-decoration: underline;
    }

    @media screen and (max-width: 640px) {
        .content {
            max-width: 100%;
        }
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 38px;
        font-weight: 500;
        line-height: 49px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        line-height: 38px;
        margin: 1.8em 0 .8em;
        font-weight: 500;
        color: #1d2b36;
        letter-spacing: .2px;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        margin: 1.5em 0 .5em;
        font-weight: 500;
        letter-spacing: .2px;
    }

    blockquote {
        -webkit-font-smoothing: antialiased;
        font-size: 45px;
        letter-spacing: -.65px;
        line-height: 55px;
        margin: 1em -50px;
        border: 0;
        color: #a9afb3;
        font-style: normal;
        font-weight: 400;
        padding: 0;
        text-align: center;
    }

    @media screen and (max-width: 640px) {
        blockquote {
            font-size: 29px;
            line-height: 39px;
        }
    }

    @media screen and (max-width: 960px) {
        blockquote {
            margin-left: 0;
            margin-right: 0;
        }
    }

    img {
        height: auto;
        max-width: 100%;
        display: block;
        margin: 2.5em auto;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
        border: 1px solid #ddd;
    }

    ul, ol {
        list-style: initial;
        color: #222;
        font-size: 19px;
        line-height: 29px;
        padding-left: 40px;
        margin-bottom: 23px;

        li {
            margin-bottom: 5px;
        }

        .no-margin li {
            margin-bottom: 0;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    .navigation {
        max-width: 720px;
        margin: 3em auto;
        padding-left: 15px;
        padding-right: 15px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-wrap: wrap;

        a {
            color: #F65A3F;
            text-decoration: underline;
        }

        a:hover, section .navigation a:focus {
            color: #222;
            text-decoration: underline;
        }

        .nav-previous {
            margin-right: 10px;
        }

        @media screen and (max-width: 640px) {
            max-width: 100%;
        }
    }
}

section {
    .content {
        &.item-list h2 {
            font-family: 'Roboto', sans-serif;
            margin-bottom: 0;

            a {
                text-decoration: none;
            }
        }
        &.item-list p.meta {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            letter-spacing: .5px;
            text-transform: uppercase;
            margin-bottom: 1.8em;
        }
    }
}

article {
    p:first-child{
        font-size: 26px;
        line-height: 36px;
        font-weight: 400;

        &:first-letter {
            color: #F65A3F;
            float: left;
            font-family: 'Roboto', sans-serif;
            font-size: 2.875em;
            font-weight: 700;
            line-height: 50px;
            margin: 12px 8px -5px 0;
            line-height: 60px;
        }
    }

}